<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>belka.romakhin.ru</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/common.css">
    <script src="https://unpkg.com/feather-icons"></script>
    {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">belka.romakhin.ru</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'front.catalogue_index' %} active {% endif %}" href="{{ url_for('my.index') }}">
                        Мои API
                    </a>
                </li>
            </ul>
            <div class="d-flex">
                <span class="navbar-text">
                {% if current_user.is_authenticated %}
                    Салам алейкум, {{ current_user.name }}!
                    | <a href="{{ url_for('front.logout') }}" title="Нахуй пойти">Выйти</a>
                {% else %}
                    <a href="{{ url_for('front.login') }}">Войти</a>
                {% endif %}
                </span>
            </div>
        </div>
    </div>
</nav>

{% for category, messages in flashes().items() %}
<div class="container mt-2">
    <div class="alert alert-{{ category }}">
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}

<div class="container mt-3">

    {% block content %}{% endblock %}
</div>


<script src="/static/bootstrap.bundle.min.js"></script>
<script>
    feather.replace();
</script>
</body>
</html>