{% extends 'base.html' %}

{% block head %}
<style type="text/css">
.avatar { width: 150px; height: 150px; float: left; margin: 0 10px 10px 0; }
</style>
{% endblock %}


{% block content %}

{% if doer.avatar %}
    <a href="{{ doer.photo }}">
        <img src="{{ doer.avatar }}" class="avatar">
    </a>
{% endif %}

<h1>
    {{ doer.name }}
</h1>

{{ doer.bio or "" }}

<h3 style="clear: both; ">Я оказываю услуги</h3>

{% for service in services %}
<section class="service mb-5">
    <h5><a href="{{ url_for('.category', cat_id=service.cat_id) }}">{{ service.service.name }}</a></h5>
    <p>{{ service.description or '' }}</p>
    {% if service.exp_since %}
        <p>Занимаюсь этим с {{ service.exp_since }}</p>
    {% endif %}

    {% if service.min_prices %}
        <strong>Расценки:</strong>
        <table>
        {% for measure, price in service.min_prices.items() %}
            <tr>
                <td>{{ MEASURES[measure].title }}</td>
                <td>от {{ price }} &euro;</td>
            </tr>
        {% endfor %}
        </table>

    {% endif %}
    <button class="btn btn-primary btn-sm">Заказать у меня</button>
</section>
{% endfor %}

<h3>Отзывы</h3>

<code>&lt;-- add --&gt;</code>

{% endblock %}
