{% extends 'base.html' %}

{% block content %}

<h1>API generator</h1>

<p>
	Здесь можно создать своё API для работы с коллекцией объектов.
</p>
<p>
	Сначала вы создаёте схему объекта: определяете, какие у него будут поля и какого типа, потом нахуяриваете туда данных.
	У каждого объекта есть вшитое свойство <code>id</code>, где будет лежать целочисленный уникальный идентификатор объекта.
</p>
<p>
	У API есть эндпоинт <code>GET /api/v1/{api_name}</code>, который отдаёт коллекцию объектов. Query-параметры:
</p>
<ul>
	<li><code>?search.{field}={q}</code> Поиск по значению поля <code>{field}</code>. Искать можно только по текстовым полям.</li>
	<li><code>?page={n}</code> Номер страницы. Default=0</li>
	<li><code>?page_size={n}</code> Размер страницы. Default=20</li>
</ul>
<p>
	Общее количество объектов независимо от номера страницы будет в HTTP-заголовке <code>X-Total</code>.
</p>

<p>
	Ещё есть эндпоинт <code>GET /api/v1/{api_name}/{id}</code>, который просто вернёт один объект
	из коллекции.
</p>

<div class="mascot">
	<img src="/static/mascot.jpg">
	Made in Bishkek with love.
</div>

{% endblock %}