{% extends 'base.html' %}

{% block content %}
<h1>Мои API ({{ apis|length }})</h1>
<p>
    <a href="{{ url_for('.edit') }}" class="btn btn-success">Создать API</a>
</p>

{% if apis|length == 0 %}
<div class="alert alert-info">
    У вас нет ни одного API. Создайте его скорее!
</div>
{% else %}

<div class="container">
{% for api, cnt_data in apis %}
<div class="row mb-4" style="border-bottom: 2px solid black">
    <div class="col-9">
        <code><strong>{{ api.name }}</strong></code> (записей: {{ cnt_data }} шт)
        <p>{{ api.title }}</p>
        <a href="{{ url_for('api.items', api_name=api.name, _external=True) }}" target="_blank"><code>
            {{ url_for('api.items', api_name=api.name, _external=True) }}
        </code></a>
    </div>
    <div class="col-3 text-end">
        <a href="{{ url_for('.data', api_id=api.id) }}" class="btn btn-sm btn-success mb-1">Данные</a>
        <a href="{{ url_for('.data_import', api_id=api.id) }}" class="btn btn-sm btn-success mb-1">Импортировать</a>
        <a href="{{ url_for('.edit', api_id=api.id) }}" class="btn btn-sm btn-warning mb-1">Изменить схему</a><br>
    </div>
</div>
{% endfor %}
</div>
{% endif %}

{% endblock %}